.cart {
	display: flex;
	padding: 30px;
}

.cart__order, .cart__payment {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.cart__order {
	border-right: 2px solid black;
	padding-right: 30px;
}

.cart__header, .cart__goods, 
.cart__mini-header{
	margin: 20px 0;
}

.cart__card-options, .cart__button-options {
 	margin: 10px 0;
}

.cart__header {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 10px;
}

.cart__goods{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 450px;
}

.cart__square {
  position:relative;
  border: 3px solid black; 
  overflow:hidden;
  height: 70px;
  width: 70px;
}

.in-right, .in-left {
	position:absolute;
	background:black;
	height: 3px;
}

.in-right {
	transform:skewY(-45deg);
	width: 196%;	
}

.in-left {
	top: 34px;
  transform:skewY(45deg); 
  width: 100%;
}

.cart__description {
	font-size: 0.5em;
	padding-left: 40px;
	text-align: justify;
	width: calc(100% - 116px);
}

.cart__mini-header {
	font-size: 0.7em;
	font-weight: 600;
}
.cart__card-options {
	font-size: 0.55em;
	font-weight: 600;
}

.cart__button-options:hover {
	margin-left: 5px;
}

.cart__payment {
	padding-left: 30px;
}

.cart__logo, .cart__info-header, .cart__body {
	margin: 10px 0;
}

.cart__logo {
	width: 100%; 
}

.cart__icon {
	float: right; 
	width: 75px;
}

.cart__info-header {
	font-size: 0.8em;
	font-weight: 600;
}

.cart__body {
	border: 2px solid black;
	max-width: 350px;
	padding: 0 30px;
}

.cart__input {
	font-size: 0.55em;
	margin: 20px 0;
}

.cart__label {
  margin-right: 10px;
}

.cart__field {
	font-size: 0.8em;
  float: right;
  width: 130px;
}