.contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: .625em .875em .375em;
}
@media screen and (max-width: 800px) {
	.contact {
		justify-content: center;
		margin-top: 1.25em;
	}
}

.contact__header {
	font-size: 0.6em;
	padding-right: .25em;
}

 .contact__wrapper-btn {
	display: flex;
	align-items: center;
	text-decoration: none;
} 

.contact__button {
	padding: 0 80px;
}
@media screen and (max-width: 1050px){
	.contact__button {
		padding: 0 60px;
	}
}
@media screen and (max-width: 800px) {
	.contact__button {
		padding: 0 25px;
	}
}
@media screen and (max-width: 550px) {
	.contact__button {
		padding: 0 25px;
	}
}