.purchase {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
}

.purchase__button, .purchase__message{
	font-weight: 600;
}

.purchase__button {
	margin-right: 15px;
}

 .purchase__button:hover {
	position: relative;
	left: 5px;
}
 
.purchase__message {
	font-size: 0.7em;
	margin-left: 30px;
}