.purchase {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: .75em;
}
@media screen and (max-width: 800px) {
	.purchase {
		flex-direction: column;
		margin-top: 0;
	}
}
@media screen and (max-width: 350px) {
	.purchase {
		margin-top: -10px;
	}
}

.purchase__button, .purchase__message{
	font-weight: 600;
}

.purchase__button {
	margin-right: .375em;
}
@media screen and (max-width: 800px) {
	.purchase__button {
		margin-bottom: 1.5em;
		margin-right: 0;
	}
}
 
.purchase__message {
	font-size: 0.7em;
	margin-left: 30px;
}
@media screen and (max-width: 800px) {
	.purchase__message {
		margin-left: 0;
	}
}
@media screen and (max-width: 350px) {
	.purchase__message {
		font-size: .62em;
	}
}