.purchase {
	display: flex;
	align-content: center;
	justify-content: flex-end;
	padding: 10px;
}

.purchase__button, .purchase__message{
	font-weight: 600;
}

.purchase__message {
	font-size: 0.7em;
	margin-left: 30px;
}