.page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.page__wrapper {
	border: 3px solid black;
	font-size: 40px;
	max-width: 1200px;
	padding: 20px;
}

.page__button {
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	font-size: 0.45em;
	padding: 4px 5px;
	width: auto;
}

.page__button:hover {
	box-shadow: none;
}