.page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.page__wrapper {
	border: 3px solid black;
	font-size: 40px;
	max-width: 1200px;
	margin: 0 10px;
	padding: 20px 0 30px;
}
@media screen and (max-width: 800px){
	.page__wrapper {
		font-size: 35px;
		position: absolute;
		top: .57em;
		margin: 0 auto .57em;
		max-width: 600px;
	}
}
@media screen and (max-width: 550px) {
	.page__wrapper {
		border: none;
		font-size: 34px;
	}
}
@media screen and (max-width: 500px) {
	.page__wrapper {
		border: none;
		top: 0;
	}
}
@media screen and (max-width: 450px) {
	.page__wrapper {
		font-size: 30px;
	}
}
@media screen and (max-width: 400px) {
	.page__wrapper {
		font-size: 28px;
	}
}
@media screen and (max-width: 350px) {
	.page__wrapper {
		font-size: 27px;
	}
}

.page__button {
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	font-size: 0.45em;
	padding: 4px 5px;
	width: auto;
}
@media screen and (max-width: 500px) {
	.page__button {
		height: 28px;
	}	
}

.page__button:hover {
	box-shadow: none;
	position: relative;
	left: 5px;
}